*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

.nav {
  padding: 20px 40px;
  background: black;
  a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
  }
}

.hero {
  background: darkcyan;
  padding: 100px 20px;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

  &__header {
    text-align: center;
    color: white;
    font-size: 4rem;
    margin-bottom: 15px;
  }

  &__form {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;

    &-input {
      width: calc(100% - 100px);
      border: none;
      background-color: transparent;
      border-bottom: 2px solid white;
      padding: 20px 8px;
      color: white;
      font-size: 2rem;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      &:focus {
        border: none;
        outline: none;
        background-color: white;
        color: black;
      }

      &::placeholder {
        color: white;
        font-size: 2rem;
      }
    }

    &-search {
      width: 100px;
      font-size: 5rem;
      text-align: center;
    }
  }
}

.goto-link {
  text-decoration: none;
}

// SPINNER
.loader {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.loader .sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: scale(2);
}

.loader .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.loader .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loader .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loader .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loader .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loader .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.loader .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

// ERROR POPUP
.error {
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;

  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    background: white;
    padding: 10px;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    font-size: 1.6rem;
    font-weight: bold;
  }
}

// media query
@media (max-width: 700px) {
  .hero {
    &__form-input {
      width: 100%;
    }

    &__form-search {
      display: none;
    }
  }
}

@media (max-width: 620px) {
  .hero {
    &__header {
      font-size: 3rem;
    }
  }
}

@media (max-width: 320px) {
  .error {
    padding: 5px;

    &__message {
      width: 95%;
    }
  }
}
